<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="transferForm">
  <app-input
    [control]="transferForm.get('from')"
    inputType="text"
    placeholder="Now Checking"
    label="FROM"
  >

  </app-input>
  <app-input
    [control]="transferForm.get('to')"
    inputType="text"
    label="TO"
  >
  {{transferForm.get('to').errors}}
  </app-input>
  
  <app-input
    [control]="transferForm.get('amount')"
    inputType="number"
    label="AMOUNT"
  >
  </app-input>
  <button
    [disabled]="transferForm.invalid"
    type="submit"
    class="ui button orange right floated"
  >
    SUBMIT
  </button>
</form>
