.backImg {
  background-image: url("/assets/background.jpg") !important;
  background-size: cover;
  background-position: center center;
}
.ui.header > .image:not(.icon):only-child,
.ui.header > img:only-child {
  width: max-content;
  height: max-content;
  margin: 20px 0px 20px 80px;
}

.ui.header {
  border-bottom: solid orange;
}

@media screen and (max-width: 480px) {
  .ui.header > .image:not(.icon):only-child,
  .ui.header > img:only-child {
    width: 200px;
    height: 60px;
    margin: 0;
  }
}
