<div class="backgroundColor">
  <h2 class="ui header">
    <img class="ui image" src="/assets/icons/suitcase.png" />
    <div class="content">
      Recent Transactions
    </div>
  </h2>
<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" type="text"[(ngModel)]="searchTerm" placeholder="Search by typing..." />
  </div>
  <div class="ui basic buttons right floated">
    <div class="ui button">DATE</div>
    <div class="ui button">BENEFICIARY</div>
    <div class="ui button">AMOUNT</div>
  </div>
    <div class="ui celled list" *ngIf="(transactions | filter: searchTerm).length > 0; else noResults">
        <div class="item" *ngFor="let transaction of transactions | filter: searchTerm">
        <div class="left floated content middle aligned">
          {{ transaction.transactionDate | date: "MMM dd" }}
        </div>
        <img class="ui image"  src="{{ transaction.merchantLogo }}" />
        <div class="content">
          <div class="header">{{ transaction.merchant }}</div>
          {{ transaction.transactionType }}
        </div>
        <div class="right floated content">
          <div class="ui ">-${{ transaction.amount }}</div>
        </div>
      </div>
    </div>
    <!-- If search returns no results, show the ng-template -->
    <ng-template #noResults>
      <div class="no-results-div">
        <p>No results found for "{{searchTerm}}".  Please try another search.</p>
      </div>
    </ng-template>
  </div>
</div>

