<h2 class="ui header">
  <img class="ui image" src="/assets/icons/suitcase.png" />
  <div class="content">
    Recent Transactions
  </div>
</h2>
<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search by typing..." />
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<div class="ui celled list">
  <div class="item" *ngFor="let transaction of transactions$ | async">
    <div class="left floated content middle aligned">
      {{ transaction.transactionDate | date: "MMM dd" }}
    </div>
    <img class="ui image" src="{{ transaction.merchantLogo }}" />
    <div class="content">
      <div class="header">{{ transaction.merchant }}</div>
      {{ transaction.transactionType }}
    </div>
    <div class="right floated content">
      <div class="ui ">{{ transaction.amount }}</div>
    </div>
  </div>
  <ng-container *ngIf="newTransfer | async">
    <div class="ui">New Data!!</div>
  </ng-container>
</div>
